﻿@using Umbraco.Forms.Mvc.BusinessLogic
@using Umbraco.Forms.MVC.Extensions
@using Umbraco.Forms.Mvc.Models
@{
    var title = string.Format("{0} - PLANET Huse", Model.Title);
}
<!DOCTYPE html>
<html class="no-js" lang="da">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@title</title>
    </head>
    <body>
               
        <!-- Markup markup markup -->
        

        <script type="text/javascript" src="@Skybrud.Umbraco.Utils.GetCacheableUrl("/scripts/0000xx/scripts.js")" charset="utf-8"></script> 
        <!-- 
            Det er denne partial der skal renderes på de sider hvor der er ContourForms (eller på alle sider).
            Det er vigtigt, at outputtet kommer efter plugins-comb.js.
        -->
        @Html.Partial("Partials/Contour/_ContourScripts", Model)
        
    </body>
</html>
