@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Forms.Mvc.BusinessLogic
@using Umbraco.Forms.MVC.Extensions
@using Umbraco.Forms.Mvc.Models

@try
{
    var scriptData = HttpContext.Current.Items["ContourScripts"] as List<FormViewModel>;
    if (scriptData != null)
    {
        <script type="text/javascript">
            var contourDateFormat = "@(Html.ConvertDateFormat())";
        </script>

        foreach (FormViewModel model in scriptData)
        {
            @Html.Partial(FormViewResolver.GetScriptView(model.FormId), model)
        }
    }
}
catch (Exception ex)
{
    <div>@ex.Message</div>
}