@inherits WebViewPage<Umbraco.Forms.Mvc.Models.FormViewModel>      
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic
@using Umbraco.Forms.MVC.Extensions

@if (Model.SubmitHandled)
{
    <p class="contourMessageOnSubmit">@Html.Raw(Model.MessageOnSubmit)</p>
}
else
{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    List<FormViewModel> temp = HttpContext.Current.Items["ContourScripts"] as List<FormViewModel>;
    if (temp == null) {
        HttpContext.Current.Items["ContourScripts"] = temp = new List<FormViewModel>();
    }
    temp.Add(Model);

    
    @*if (!Model.DisableDefaultStylesheet)
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/umbraco/plugins/umbracocontour/css/jquery-ui-1.8.18.custom.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/umbraco/plugins/umbracocontour/css/defaultform.css")" />
    }*@                                                                  

    <div id="contour_form_@{@Model.FormName.Replace(" ","")}" class="contour @Model.CssClass">
    @using (Html.BeginForm("ContourForm", "FormRender", FormMethod.Post, new { enctype = "multipart/form-data", ng_non_bindable = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.FormId)

        <input type="hidden" name="FormStep" id="FormStep" value="@Model.FormStep"/>
        <input type="hidden" name="RecordId" id="RecordId" value="@Model.RecordId"/>
        <input type="hidden" name="PreviousClicked" id="PreviousClicked" value="@Model.PreviousClicked"/>
          
         
        <div class="contourPage">
            @*<h4 class="contourPageName">@Html.Raw(Model.CurrentPage.Caption)</h4>*@
            @if (Model.ShowValidationSummary)
            {
                @Html.ValidationSummary(false)
            }
            @foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
            {
                <fieldset class="contourFieldSet">
                    @if (!string.IsNullOrEmpty(fs.Caption))
                    {   
                        <h3>@Html.Raw(fs.Caption)</h3>
                    }
                    @foreach (FieldViewModel f in fs.Fields)
                    {
                        bool hidden = f.HasCondition && f.ConditionActionType == FieldConditionActionType.Show;
                        <div class="@f.CssClass" @{if (hidden){<text> style="display: none"</text>}}>
                            @if (!f.HideLabel && (f.FieldTypeName.ToLower() == "checkboxlist" || f.FieldTypeName.ToLower() == "radiobuttonlist" || f.FieldTypeName.ToLower() == "dropdownlist" || f.FieldTypeName.ToLower() == "file upload" || f.FieldTypeName.ToLower() == "datepicker"))
                            {<h4 for="@f.Id" class="fieldLabel">@Html.Raw(f.Caption) @if (f.ShowIndicator){<span class="contourIndicator">@Model.Indicator</span>}</h4>}
                            <div>@Html.Partial(FieldViewResolver.GetFieldView(Model.FormId, f.FieldTypeName, f.Caption), f)
                            @if (Model.ShowFieldValidaton){@Html.ValidationMessage(f.Id)}</div>
                            @if (!string.IsNullOrEmpty(f.ToolTip)){<small>@f.ToolTip</small>}
                        </div>
                    }
                </fieldset>
            }
            <div style="display:none">
                <input type="text" id="HoneyPot"/>
            </div>
        </div>

        <div class="contourNavigation">
            @if (Model.IsMultiPage)
{
    if (!Model.IsFirstPage)
    {
        <input class="cancel" type="submit" id="btn-prev" value="@Model.PreviousCaption" onclick="document.getElementById('PreviousClicked').value = 'back'" />
    }
    if (!Model.IsLastPage)
    {
        <input type="submit" id="btn-next" value="Model.NextCaption" />
    }
}
            @if (Model.IsLastPage)
            {
                <input type="submit" value="Model.SubmitCaption"/>
            }
        </div>                        
            
    }
    </div>
}