@inherits WebViewPage<Umbraco.Forms.Mvc.Models.FormViewModel>      
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic
@using Umbraco.Forms.MVC.Extensions
@using Umbraco.Forms.Core.Extensions
                      
<script type="text/javascript">
var contourDateFormat = "@Html.ConvertDateFormat()";
var contourFieldValues@{@Model.FormClientId};
        
(function ($) {
    $(document).ready(function () { 
        angular.element(document).search("#contour_form_@{@Model.FormName.Replace(" ","")} .contourPage input").change(function() {
            PopulateFieldValues@{@Model.FormClientId}();
            CheckRules@{@Model.FormClientId}();
        });
        
        angular.element(document).search("#contour_form_@{@Model.FormName.Replace(" ","")} .contourPage select").change(function () {
            PopulateFieldValues@{@Model.FormClientId}();
            CheckRules@{@Model.FormClientId}();
        });
            
        PopulateFieldValues@{@Model.FormClientId}();
        CheckRules@{@Model.FormClientId}();               
    }); 

    function PopulateFieldValues@{@Model.FormClientId}()
    {
        //fill field values
        //contourFieldValues = new Array();
        PopulateRecordValues@{@Model.FormClientId}();

        angular.element(document).search("#contour_form_@{@Model.FormName.Replace(" ","")} .contourPage select").each(function() {
        contourFieldValues@{@Model.FormClientId}[$(this).attr("id")] = angular.element(document).search("option[value='" + $(this).val() + "']", $(this)).text();
    });
    
    angular.element(document).search("#contour_form_@{@Model.FormName.Replace(" ","")} .contourPage input").each(function() {

	    
	    
    if($(this).attr('type') == "text"){
        contourFieldValues@{@Model.FormClientId}[$(this).attr("id")] = $(this).val();
    }

    if($(this).attr('type') == "radio"){
        if($(this).is(':checked'))
        {
            contourFieldValues@{@Model.FormClientId}[$(this).attr("name")] = $(this).val();
        }
    }

    if($(this).attr('type') == "checkbox"){

        if($(this).attr('id') != $(this).attr('name'))
        {
            if($(this).is(':checked'))
            {
                if(contourFieldValues@{@Model.FormClientId}[$(this).attr("name")] == null)
                {
                    contourFieldValues@{@Model.FormClientId}[$(this).attr("name")] = $(this).val();
                }
                else
                {
                    contourFieldValues@{@Model.FormClientId}[$(this).attr("name")] += "," + $(this).val();
                }
            }
        } else {

            contourFieldValues@{@Model.FormClientId}[$(this).attr("name")] = $(this).is(':checked').toString();
        }
    }

    });    
    }        

    function PopulateRecordValues@{@Model.FormClientId}() {
        contourFieldValues@{@Model.FormClientId} = new Array();
            
        @foreach (var recordVal in Model.RecordValues)
            {
                <text>
                if(angular.element(document).search("#@recordVal.Key").length == 0)
                {
                    contourFieldValues@{@Model.FormClientId}["@recordVal.Key"] = "@recordVal.Value";
                }
                </text>
            }
    }

    function CheckRules@{@Model.FormClientId}() {
            
        @foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
            {
                foreach (FieldViewModel f in fs.Fields)
                {
                    if (f.HasCondition && f.ConditionRules.Any())
                    {
                        var current = 1;
                        var currentParent = 1;

                     <text>
                        if(
                            @foreach (var parentCondition in f.ParentConditions)
                            {
                                if (parentCondition.Rules.Any())
                                {
                                 <text>(</text>
                                }
                                foreach (FieldConditionRule r in parentCondition.Rules)
                                {
                                <text>(contourFieldValues@{@Model.FormClientId}["@r.Field"] != null && </text>
                                    switch (r.Operator)
                                    {
                                        case FieldConditionRuleOperator.Is:
                                        <text>contourFieldValues@{@Model.FormClientId}["@r.Field"] == "@Html.Raw(r.Value.ParsePlaceHolders())"</text>
                                            break;
                                        case FieldConditionRuleOperator.IsNot:
                                        <text>contourFieldValues@{@Model.FormClientId}["@r.Field"] != "@Html.Raw(r.Value.ParsePlaceHolders())"</text>
                                            break;
                                        case FieldConditionRuleOperator.GreaterThen:
                                        <text>parseInt(contourFieldValues@{@Model.FormClientId}["@r.Field"]) > parseInt("@r.Value")</text>
                                            break;
                                        case FieldConditionRuleOperator.LessThen:
                                        <text>parseInt(contourFieldValues@{@Model.FormClientId}["@r.Field"]) < parseInt("@r.Value")</text>
                                            break;
                                        case FieldConditionRuleOperator.Contains:
                                        <text>contourFieldValues@{@Model.FormClientId}["@r.Field"].indexOf("@Html.Raw(r.Value.ParsePlaceHolders())") != -1</text>
                                            break;
                                        case FieldConditionRuleOperator.StartsWith:
                                         <text>contourFieldValues@{@Model.FormClientId}["@r.Field"].indexOf("@Html.Raw(r.Value.ParsePlaceHolders())") != -1</text>
                                            break;
                                        case FieldConditionRuleOperator.EndsWith:
                                        <text>contourFieldValues@{@Model.FormClientId}["@r.Field"].indexOf("@Html.Raw(r.Value.ParsePlaceHolders())") != -1</text>
                                            break;
                                    }
                                <text>)</text>
                                    if (parentCondition.Rules.Count > 1 && currentParent < parentCondition.Rules.Count)
                                    {
                                        if (parentCondition.LogicType == FieldConditionLogicType.All)
                                        {
                                        <text>||</text> 
                                        }
                                        else
                                        {
                                        <text>||</text>
                                        }
                                    }

                                    currentParent++;

                                }
                            if (parentCondition.Rules.Any())
                            {
                                <text>) &&</text>
                            } 
                            }   
                            @foreach (FieldConditionRule r in f.ConditionRules)
                            {
                                <text>(contourFieldValues@{@Model.FormClientId}["@r.Field"] != null && </text>
                                switch (r.Operator)
                                {
                                    case FieldConditionRuleOperator.Is:
                                        <text>contourFieldValues@{@Model.FormClientId}["@r.Field"] == "@Html.Raw(r.Value.ParsePlaceHolders())"</text>
                                        break;
                                    case FieldConditionRuleOperator.IsNot:
                                        <text>contourFieldValues@{@Model.FormClientId}["@r.Field"] != "@Html.Raw(r.Value.ParsePlaceHolders())"</text>
                                        break;
                                    case FieldConditionRuleOperator.GreaterThen:
                                        <text>parseInt(contourFieldValues@{@Model.FormClientId}["@r.Field"]) > parseInt("@r.Value")</text>
                                        break;
                                    case FieldConditionRuleOperator.LessThen:
                                        <text>parseInt(contourFieldValues@{@Model.FormClientId}["@r.Field"]) < parseInt("@r.Value")</text>
                                        break;
                                    case FieldConditionRuleOperator.Contains:
                                        <text>contourFieldValues@{@Model.FormClientId}["@r.Field"].indexOf("@Html.Raw(r.Value.ParsePlaceHolders())") != -1</text>
                                        break;
                                    case FieldConditionRuleOperator.StartsWith:
                                         <text>contourFieldValues@{@Model.FormClientId}["@r.Field"].indexOf("@Html.Raw(r.Value.ParsePlaceHolders())") != -1</text>
                                        break;
                                    case FieldConditionRuleOperator.EndsWith:
                                        <text>contourFieldValues@{@Model.FormClientId}["@r.Field"].indexOf("@Html.Raw(r.Value.ParsePlaceHolders())") != -1</text>
                                        break;
                                }
                                <text>)</text>
                                if (f.ConditionRules.Count > 1 && current < f.ConditionRules.Count)
                                {
                                    if (f.ConditionLogicType == FieldConditionLogicType.All)
                                    {
                                        <text>&&</text> 
                                    }
                                    else
                                    {
                                        <text>||</text>
                                    }
                                }

                                current++;
                            }
                        )
                        {
                             @if (f.ConditionActionType == FieldConditionActionType.Show)
                             {
                                 <text>angular.element(document).search("#@f.Id").closest(".contourField").show();</text>
                             }
                             else
                             {
                                 <text>angular.element(document).search("#@f.Id").closest(".contourField").hide();</text>
                             }
                             
                        }
                        else
                        {
                             @if (f.ConditionActionType == FieldConditionActionType.Show)
                             {
                                 <text>angular.element(document).search("#@f.Id").closest(".contourField").hide();</text>
                             }
                             else
                             {
                                 <text>angular.element(document).search("#@f.Id").closest(".contourField").show();</text>
                             }
                        }
                     </text>

                    }
                }
            }
            
    }
} (angular.element)); 
/* Activate form-validation */
angular.element(document).search('.contour form').validateForm();
</script>